@import "tailwindcss";
*{
  transition: background-color 0.3s, color 0.3s ease-in-out;

}
body,html{
  scroll-behavior: smooth;
}

@theme {
  --color-primary: var(--primary);
  --color-main-bg: var(--main-bg);
  --color-border-ui: var(--border-ui);
  --color-text-main: var(--text-main);
  --color-subtext: var(--subtext);
}

/* 2. Default (Light Mode) Variables */
:root {
  --primary: #615FFF;
  --main-bg: #F5F7FA;
  --border-ui: #CBD5E1;
  --text-main: #0F172B;
  --subtext: #45556C;
}

/* 3. Dark Mode Variables */
.dark {
  --primary: #615FFF; 
  --main-bg: #020617;
  --border-ui: #1D293D;
  --text-main: #F8FAFC;
  --subtext: #90A1B9;
}